* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

button, input, textarea, body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(258, 60%, 98%);
  line-height: 1.7;
  color: hsl(244, 16%, 43%);
}

h1, h2, h3 {
  font-size: hsl(244, 24%, 26%);
  line-height: 1.2;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  padding: 0 50px;
  transition: 0.3s;
  margin: 0px 0 50px 70px;
}

input, textarea {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border: none;
  outline: none;
  padding: 15px 10px;
  margin: 10px 0;
  resize: none;
}

@media (max-width: 500px) {
  .container {
    margin-left: 0px;
    padding: 0 0px;
  }
}
.about.container {
  margin: 100px 100px 0px 200px;
}
@media (max-width: 1107px) {
  .about.container {
    margin: 50px 0 50px 100px;
  }
}
@media (max-width: 600px) {
  .about.container {
    margin: 50px 0 50px 70px;
  }
}
@media (max-width: 500px) {
  .about.container {
    margin: 50px 20px 0px 20px;
  }
}
.about.container .heading h2 {
  font-size: 50px;
  color: hsl(244, 24%, 26%);
  font-weight: 500;
  margin-bottom: 50px;
}
.about.container .aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
@media (max-width: 1241px) {
  .about.container .aboutContainer {
    flex-direction: column;
    gap: 50px;
  }
}
.about.container .aboutContainer .img {
  width: 20%;
  text-align: center;
}
.about.container .aboutContainer .card {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
@media (max-width: 835px) {
  .about.container .aboutContainer .card {
    flex-direction: column-reverse;
  }
}
.about.container .aboutContainer .card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  border: 20px solid transparent;
  border-right-color: #fff;
}
@media (max-width: 1241px) {
  .about.container .aboutContainer .card::before {
    border-right-color: transparent;
    border-bottom-color: #fff;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
  }
}
.about.container .aboutContainer .card .info {
  width: 50%;
}
@media (max-width: 835px) {
  .about.container .aboutContainer .card .info {
    width: 100%;
  }
}
.about.container .aboutContainer .card .info button {
  padding: 8px 20px;
  background-color: hsl(353, 100%, 65%);
  border-radius: 20px;
  margin-top: 10px;
  color: hsl(258, 60%, 98%);
  border: 2px solid hsl(353, 100%, 65%);
  transition: 0.3s;
}
.about.container .aboutContainer .card .info button:hover {
  background-color: hsl(258, 60%, 98%);
  color: hsl(353, 100%, 65%);
}
.about.container .aboutContainer .card .allSkill {
  width: 50%;
}
@media (max-width: 835px) {
  .about.container .aboutContainer .card .allSkill {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .about.container .aboutContainer .card .allSkill h2 {
    font-size: 20px;
  }
}
.about.container .aboutContainer .card .allSkill .skill .infoSkill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
  justify-content: space-between;
}
.about.container .aboutContainer .card .allSkill .skill .infoSkill h2 {
  color: hsl(244, 24%, 26%);
}
.about.container .aboutContainer .card .allSkill .skill .skillBar {
  width: 100%;
  height: 5px;
  margin: 15px 0;
  border-radius: 5px;
  position: relative;
  background-color: hsl(258, 60%, 98%);
}
.about.container .aboutContainer .card .allSkill .skill .skillBar .inside {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  background-color: rgb(255, 209, 92);
  z-index: 11;
}

.aboutBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  margin-top: 50px;
  gap: 0px;
}
.aboutBox .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
}
.aboutBox .box .icon {
  font-size: 35px;
}
.aboutBox .box .info h2 {
  color: hsl(244, 24%, 26%);
  font-weight: 600;
}/*# sourceMappingURL=About.css.map */